# Project
# Used as prefix for Docker container names.
# Change this if you run multiple local copies on the same machine.
PROJECT_NAME=etl-data-pipeline

# App
APP_ENV=local

# PostgreSQL
DB_USER=sandbox
DB_PASSWORD=sandbox
DB_NAME=sandbox_db
DB_HOST=db

# Internal DB port stays 5432 inside Docker.
DB_PORT=5432

# Host port exposed to your machine.
EXTERNAL_DB_PORT=5433

# Temporal
TEMPORAL_NAMESPACE=default
TEMPORAL_PORT=7233
TEMPORAL_HOST=temporal
EXTERNAL_TEMPORAL_PORT=7234
TEMPORAL_UI_PORT=8080
EXTERNAL_TEMPORAL_UI_PORT=8081
POSTGRES_SEEDS=db

# Linux only. Mac/Windows can usually keep these defaults.
UID=1000
GID=1000
